<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <label for="commentId">commentId</label>
      <div ><input type="text" id="commentId"  class="form-control" [(ngModel)]="comment.commentId"></div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <label for="commentAction">commentAction</label>
      <div ><input type="text" id="commentAction"  class="form-control" [(ngModel)]="comment.commentAction"></div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <label for="commentResult">commentResult</label>
      <div ><input type="text" id="commentResult"  class="form-control" [(ngModel)]="comment.commentResult"></div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <label for="commentDateTime">commentDateTime</label>
      <div ><input type="text" id="commentDateTime"  class="form-control" [(ngModel)]="comment.commentDateTime"></div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <label for="commentLastName">commentLastName</label>
      <div ><input type="text" id="commentLastName"  class="form-control" [(ngModel)]="comment.commentLastName"></div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <label for="commentTextHeader">commentTextHeader</label>
      <div ><input type="text" id="commentTextHeader"  class="form-control" [(ngModel)]="comment.commentTextHeader"></div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <label for="commentTextDetail">commentTextDetail</label>
      <div ><input type="text" id="commentTextDetail"  class="form-control" [(ngModel)]="comment.commentTextDetail"></div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <button type="button" class="btn btn-primary" (click)="saveComment()">Save</button>
  </div>
</div>
